body {
    background: linear-gradient(45deg, #FC466B, #3F5EFB);}
h1{ 
    text-align: center;
   }
   h4{text-align: center;
}
.aa{text-align: left;}
.dd{text-align: center;
}
.ss{ text-align: center;
}
.ff{text-align: center;
}
.tt{text-align: center;
}
.ee{text-align: center;
}
.ww{text-align: center;
}
.rr{text-align: center;
}
.oo{text-align: center;
   
}